<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AgendaCreateDlg" widgetVar="AgendaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda2.CreateAgendaTitle}">
            <h:form id="AgendaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{agendaController.selected != null}">
                        <p:outputLabel value="#{agenda2.CreateAgendaLabel_tipo}" for="type" />
                        <p:selectOneMenu id="duration" value="#{agendaController.selected.tipo}" required="true" binding="#{rowx}" requiredMessage="#{agenda2.CreateAgendaRequiredMessage_duracion}">
                            <f:selectItem itemLabel="Reunión" itemValue="0" />
                            <f:selectItem itemLabel="Evento" itemValue="1" />
                            <f:validator validatorId="durationValidator" />
                            <f:attribute name="duration" value="#{duration}" />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{agenda2.CreateAgendaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{agendaController.selected.nombre}" title="#{agenda2.CreateAgendaTitle_nombre}" required="true" requiredMessage="#{agenda2.CreateAgendaRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda2.CreateAgendaLabel_area}" for="area" />
                        <p:inputText id="area" value="#{agendaController.selected.area}" title="#{agenda2.CreateAgendaTitle_area}" required="true" requiredMessage="#{agenda2.CreateAgendaRequiredMessage_area}"/>
                        <p:outputLabel value="#{agenda2.CreateAgendaLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{agendaController.selected.fecha}" title="#{agenda2.EditAgendaTitle_fecha}" required="true" requiredMessage="#{agenda2.EditAgendaRequiredMessage_fecha}" showOn="button">
                            <f:validator validatorId="datexValidator" />
                            <f:attribute name="type" value="#{rowx}" />
                        </p:calendar>
                        <p:outputLabel value="#{agenda2.CreateAgendaLabel_duracion}" for="duration" />
                        <p:inputText id="type" value="#{agendaController.selected.duracion}" title="#{agenda2.CreateAgendaTitle_tipo}" required="true" requiredMessage="#{agenda2.CreateAgendaRequiredMessage_tipo}"
                                     binding="#{duration}"/>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_hora}" for="hora" />
                        <p:inputText id="hora" value="#{agendaController.selected.hora}" title="#{agenda.EditAgendaTitle_hora}" required="true" requiredMessage="#{agenda.EditAgendaRequiredMessage_hora}" >
                            <f:convertDateTime pattern="HH:mm"/>
                        </p:inputText>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_participantes}" for="people" />
                        <p:inputText id="people" value="#{agendaController.selected.participantes}" title="#{agenda.CreateAgendaTitle_participantes}" required="true" requiredMessage="#{agenda.CreateAgendaRequiredMessage_participantes}">
                            <f:validator validatorId="capcityValidator" />
                            <f:attribute name="capcity" value="#{capcity}" />
                            <f:attribute name="capcity2" value="#{capcity2}" />
                            <p:clientValidator />
                        </p:inputText>
                        <p:outputLabel value="#{agenda.CreateAgendaLabel_idLugares}" for="ConfirmCapcity" />
                        <p:selectOneMenu id="ConfirmCapcity" value="#{agendaController.selected.idLugares}" required="true"
                                         requiredMessage="#{agenda.EditAgendaRequiredMessage_idLugares}"
                                         binding="#{capcity}">
                            <f:selectItems value="#{lugaresController.items}"
                                           var="idLugaresItem"
                                           itemValue="#{idLugaresItem}"
                                           itemLabel="#{idLugaresItem.nombre} #{idLugaresItem.capcidad}"
                                           binding="#{capcity2}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{agendaController.create}" value="#{agenda2.Save}" update="display,:AgendaListForm:datalist,:growl" oncomplete="handleSubmit(args,'AgendaCreateDialog');"/>
                    <p:commandButton value="#{agenda2.Cancel}" onclick="AgendaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
