<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutoRegistroCreateDlg" widgetVar="AutoRegistroCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.CreateAutoRegistroTitle}">
            <h:form id="AutoRegistroCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autoRegistroController.selected != null}">
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_idAutoRegistro}" for="idAutoRegistro" />
                        <p:inputText id="idAutoRegistro" value="#{autoRegistroController.selected.idAutoRegistro}" title="#{agenda.CreateAutoRegistroTitle_idAutoRegistro}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_idAutoRegistro}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{autoRegistroController.selected.nombre}" title="#{agenda.CreateAutoRegistroTitle_nombre}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_apellido}" for="apellido" />
                        <p:inputText id="apellido" value="#{autoRegistroController.selected.apellido}" title="#{agenda.CreateAutoRegistroTitle_apellido}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_apellido}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_emailP}" for="emailP" />
                        <p:inputText id="emailP" value="#{autoRegistroController.selected.emailP}" title="#{agenda.CreateAutoRegistroTitle_emailP}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_emailP}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_emailE}" for="emailE" />
                        <p:inputText id="emailE" value="#{autoRegistroController.selected.emailE}" title="#{agenda.CreateAutoRegistroTitle_emailE}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_emailE}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_telefonoP}" for="telefonoP" />
                        <p:inputText id="telefonoP" value="#{autoRegistroController.selected.telefonoP}" title="#{agenda.CreateAutoRegistroTitle_telefonoP}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_telefonoP}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_nss}" for="nss" />
                        <p:inputText id="nss" value="#{autoRegistroController.selected.nss}" title="#{agenda.CreateAutoRegistroTitle_nss}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_nss}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_empresa}" for="empresa" />
                        <p:inputText id="empresa" value="#{autoRegistroController.selected.empresa}" title="#{agenda.CreateAutoRegistroTitle_empresa}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_empresa}"/>
                        <p:outputLabel value="#{agenda.CreateAutoRegistroLabel_telefonoE}" for="telefonoE" />
                        <p:inputText id="telefonoE" value="#{autoRegistroController.selected.telefonoE}" title="#{agenda.CreateAutoRegistroTitle_telefonoE}" required="true" requiredMessage="#{agenda.CreateAutoRegistroRequiredMessage_telefonoE}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{autoRegistroController.create}" value="#{agenda.Save}" update="display,:AutoRegistroListForm:datalist,:growl" oncomplete="handleSubmit(args,'AutoRegistroCreateDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="AutoRegistroCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
