<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LugaresViewDlg" widgetVar="LugaresViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.ViewLugaresTitle}">
            <h:form id="LugaresViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{lugaresController.selected != null}">
                        <h:outputText value="#{agenda.ViewLugaresLabel_idLugares}"/>
                        <h:outputText value="#{lugaresController.selected.idLugares}" title="#{agenda.ViewLugaresTitle_idLugares}"/>
                        <h:outputText value="#{agenda.ViewLugaresLabel_nombre}"/>
                        <h:outputText value="#{lugaresController.selected.nombre}" title="#{agenda.ViewLugaresTitle_nombre}"/>
                        <h:outputText value="#{agenda.ViewLugaresLabel_capcidad}"/>
                        <h:outputText value="#{lugaresController.selected.capcidad}" title="#{agenda.ViewLugaresTitle_capcidad}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{agenda.Close}" onclick="LugaresViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
