<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{agenda.ListEventoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EventoListForm">
                <p:panel header="#{agenda.ListEventoTitle}">
                    <p:dataTable id="datalist" value="#{eventoController.items}" var="item"
                                 selectionMode="single" selection="#{eventoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idevento}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEventoTitle_idevento}"/>
                            </f:facet>
                            <h:outputText value="#{item.idevento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEventoTitle_fechaInicioRegisto}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaInicioRegisto}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEventoTitle_fechaFinalRegistro}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaFinalRegistro}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{agenda.ListEventoTitle_agendaidAgenda}"/>
                            </f:facet>
                            <h:outputText value="#{item.agendaidAgenda}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{agenda.Create}" actionListener="#{eventoController.prepareCreate}" update=":EventoCreateForm" oncomplete="PF('EventoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{agenda.View}" update=":EventoViewForm" oncomplete="PF('EventoViewDialog').show()" disabled="#{empty eventoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{agenda.Edit}" update=":EventoEditForm" oncomplete="PF('EventoEditDialog').show()" disabled="#{empty eventoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{agenda.Delete}" actionListener="#{eventoController.destroy}" update=":growl,datalist" disabled="#{empty eventoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
