<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReunionEditDlg" widgetVar="ReunionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.EditReunionTitle}">
            <h:form id="ReunionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{reunionController.selected != null}">
                        <p:outputLabel value="#{agenda.EditReunionLabel_idreunion}" for="idreunion" />
                        <p:inputText id="idreunion" value="#{reunionController.selected.idreunion}" title="#{agenda.EditReunionTitle_idreunion}" required="true" requiredMessage="#{agenda.EditReunionRequiredMessage_idreunion}"/>
                        <p:outputLabel value="#{agenda.EditReunionLabel_agendaidAgenda}" for="agendaidAgenda" />
                        <p:selectOneMenu id="agendaidAgenda" value="#{reunionController.selected.agendaidAgenda}" required="true" requiredMessage="#{agenda.EditReunionRequiredMessage_agendaidAgenda}">
                            <f:selectItem itemLabel="#{agenda.SelectOneMessage}"/>
                            <f:selectItems value="#{agendaController.itemsAvailableSelectOne}"
                                           var="agendaidAgendaItem"
                                           itemValue="#{agendaidAgendaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reunionController.update}" value="#{agenda.Save}" update="display,:ReunionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ReunionEditDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="ReunionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
