<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedoresEditDlg" widgetVar="ProveedoresEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{agenda.EditProveedoresTitle}">
            <h:form id="ProveedoresEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedoresController.selected != null}">
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_idProveedores}" for="idProveedores" />
                        <p:inputText id="idProveedores" value="#{proveedoresController.selected.idProveedores}" title="#{agenda.EditProveedoresTitle_idProveedores}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_idProveedores}"/>
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{proveedoresController.selected.nombre}" title="#{agenda.EditProveedoresTitle_nombre}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_nombreContacto}" for="nombreContacto" />
                        <p:inputText id="nombreContacto" value="#{proveedoresController.selected.nombreContacto}" title="#{agenda.EditProveedoresTitle_nombreContacto}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_nombreContacto}"/>
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_telefonoContacto}" for="telefonoContacto" />
                        <p:inputText id="telefonoContacto" value="#{proveedoresController.selected.telefonoContacto}" title="#{agenda.EditProveedoresTitle_telefonoContacto}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_telefonoContacto}"/>
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_telefonoEmpresa}" for="telefonoEmpresa" />
                        <p:inputText id="telefonoEmpresa" value="#{proveedoresController.selected.telefonoEmpresa}" title="#{agenda.EditProveedoresTitle_telefonoEmpresa}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_telefonoEmpresa}"/>
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_emailContacto}" for="emailContacto" />
                        <p:inputText id="emailContacto" value="#{proveedoresController.selected.emailContacto}" title="#{agenda.EditProveedoresTitle_emailContacto}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_emailContacto}"/>
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_domicilio}" for="domicilio" />
                        <p:inputText id="domicilio" value="#{proveedoresController.selected.domicilio}" title="#{agenda.EditProveedoresTitle_domicilio}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_domicilio}"/>
                        <p:outputLabel value="#{agenda.EditProveedoresLabel_idUsuarios}" for="idUsuarios" />
                        <p:selectOneMenu id="idUsuarios" value="#{proveedoresController.selected.idUsuarios}" required="true" requiredMessage="#{agenda.EditProveedoresRequiredMessage_idUsuarios}">
                            <f:selectItem itemLabel="#{agenda.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"
                                           var="idUsuariosItem"
                                           itemValue="#{idUsuariosItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedoresController.update}" value="#{agenda.Save}" update="display,:ProveedoresListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProveedoresEditDialog');"/>
                    <p:commandButton value="#{agenda.Cancel}" onclick="ProveedoresEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
