<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            
        
        <p:layoutUnit position="center" resizable="true"  > 
            <h:form>
                 
                <p:panel header="Login"  > 
                    <p:panelGrid columns="2">
                        Usuario:&nbsp;
                        <p:inputText id="usu" label="Usuario" required="true" >
                            <p:tooltip for="usu" value="Introduzca su Usuario"></p:tooltip>
                        </p:inputText>
                        Contraseña:&nbsp;
                        <h:inputSecret id="pwd" label="pwd" required="true">
                            <p:tooltip for="usu" value="Introduzca su Contraseña"></p:tooltip>
                        </h:inputSecret>
                    </p:panelGrid>
                </p:panel>
            <h:form>
                <p:messages showDetail="true"/>
                <p:captcha label="Captcha" />
                <p:commandButton value="Check" actionListener="#{captchaView.submit}" ajax="false" icon="ui-icon-check"/>
            </h:form>
            </h:form>
            </p:layoutUnit>
            </p:layout>
    </h:body>
</html>

